body {
  background-color: black;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 140px auto 0;
}

.container .slider {
  width: 70%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.container .slider img {
  position: absolute;
  top: -1000px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-out;
}

.container .slider img.show {
  top: 50px;
}

.container .slider img.in {
  top: -1000px;
}

.container .slider img.out {
  top: 1000px;
}

.container i {
  color: #ccc;
  position: absolute;
  left: 40%;
  font-size: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container i:hover {
  color: #fff;
}

.container i.up {
  top: -80px;
}

.container i.down {
  bottom: -80px;
}

.container i.disable {
  color: #555;
  cursor: no-drop;
}

.slider-controls ul li {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid red;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.4s;
}

.slider-controls ul li.disable {
  background-color: #555;
  border-color: #555;
}

.slider-controls ul li.active {
  background-color: red;
}
